# gradle
.gradle

# android studio
/.idea/workspace.xml
/.idea/libraries

# compiled
/build

# keys
/app/fabric.properties
/app/tumblr.properties
/local.properties

# log
*.log
/app/manifest-merger-release-report.txt

# lib
/lib

# released
*.apk

# mac
.DS_Store
