<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elzup.pictter.pictter" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7244bfde4c0b11528ae855b3d9c8e334dc03435e" />

        <activity
            android:name=".ShowGridItem"
            android:label="@string/title_activity_show_grid_item" >
        </activity>
        <activity
            android:name=".AboutImage"
            android:label="@string/title_activity_about_image" >
        </activity>
    </application>

</manifest>
